.drop-down{
    box-shadow: 0 0 3px #9e9e9e;
    height: 35px;
    width: 115px;
    border-radius: 5px;
    border:2px solid rgb(158, 158, 158,0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 10px 0px 10px;
    font-size: 18px;
    font-weight: 600;
    user-select: none;
    cursor: pointer;
    background-color: white;
    color:black;
}
.drop-down:hover{
    box-shadow: 0 0 7px #9e9e9e;
}

.drop-down-menu{
    z-index: 1000;
    color:#979798;
    box-shadow: 0 0 5px #9e9e9e;
    height: 90px;
    width: 320px;
    border-radius: 10px;
    border:1px solid rgb(158, 158, 158,0.5);
    position: absolute;
    left:2%;
    top:9.5%;
    display: flex;
    flex-direction: column;
    justify-content:space-around ;
    padding:10px 25px 10px 25px;
    font-size: 18px;
    font-weight: 600;
    background-color: #f8f8fa;
    cursor: pointer;
    user-select: none;
}
.drop-down-select{
    color: black;
    height: 75px;
    width: 110px;
    background-color: white;
    z-index: 10;
    position: absolute;
    left: 221px;
    border-radius: 0px 0px 5px 5px;
    bottom: -11px;
    border:2px solid rgb(158, 158, 158,0.5);
    padding-left: 10px;

}
